@page "/salaries"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h3>Salaries</h3>

<div class="form-group d-flex justify-content-around align-items-center ">
    <div>
    <input style="width:80px height:20px" @bind="search" @oninput="FilterSalaries" class="form-control" placeholder="Rechercher..." />
    @if(AccessToken != null) {

        <button type="button" class="btn btn-outline-secondary mt-3 w-70 h-50" @onclick="() => ShowAddEmployee()">Ajouter un salarié</button>
    }

    </div>
    
<div class="">
    <select class="form-control" @bind="search" @oninput="FilterSalaries">
        <option value="">Tous les sites</option>
        @foreach (var site in allSites) {
            <option value="@site.Ville">@site.Ville</option>
        }
    </select>
    @if(AccessToken != null){
      <button type="button" class="btn btn-outline-secondary mt-3 w-70 h-50" @onclick="() => ShowAddSite()">Ajouter un Site</button>
    <button type="button" class="btn btn-outline-info mt-3 w-70 h-50" @onclick="() => ShowInfoSite()">Voir les Sites</button>
    }
</div>
<div class="">
    <select class="form-control" @bind="search" @oninput="FilterSalaries">
        <option value="">Tous les services</option>
        @foreach (var service in allServices) {
            <option value="@service.Nom">@service.Nom</option>
    
        }
    </select>
    @if(AccessToken != null){
        <button type="button" class="btn btn-outline-secondary mt-3 w-70 h-50" @onclick="() => ShowAddService()">Ajouter un Service</button>
    <button type="button" class="btn btn-outline-info mt-3 w-70 h-50" @onclick="() => ShowInfoService()" >Voir les Services</button>
    }

</div>


<div class="">
    <label>Filter par :</label>
    <select @bind="pageSize" @oninput="UpdatePageSize">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
    </select>
</div>
</div>

<div style="max-height: calc(90vh - 200px);
    overflow-y: auto;
    display: block;">
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>CreatedAt</th>
            <th>Telephone Fixe</th>
            <th>Telephone Portable</th>
            <th>Service</th>
            <th>Site</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>
            @foreach (var salary in filteredSalaries.Skip((currentPage - 1) * pageSize).Take(pageSize))
            {
                <tr>
                    <td>@salary.Id</td>
                    <td>@salary.Nom</td>
                    <td>@salary.Prenom</td>
                    <td>@salary.Email</td>
                    <td>@salary.CreatedAt</td>
                    <td>@salary.TelephoneFixe</td>
                    <td>@salary.TelephonePortable</td>
                    <td>@salary.Service</td>
                    <td>@salary.Site</td>
                    <td>
                        <button type="button" class="btn btn-outline-info" @onclick="() => ShowEmployeeInfo(salary)">Informations</button>
                    </td>
                </tr>
            }
    </tbody> 
</table>

</div> 
<SalarieInfoModal @ref="salarieInfoModal" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<SalarieAddModal @ref="salarieAddModal" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<SiteAddModal @ref="siteAddModal" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<ServiceAddModal @ref="serviceAddModal" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<ShowInfoSite @ref="showInfoSite" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<ShowInfoService @ref="showInfoService" OnClose="ModalClosed" OnRefreshNeeded="RefreshData" />
<Pager CurrentPage="currentPage" TotalPages="totalPages" OnPageChanged="UpdateCurrentPage" /> 



@code {

    // les listes de class de notre dossier Shared (DTO) 
    private List<SalariesDto> allSalaries = new List<SalariesDto>();
    private List<SalariesDto> filteredSalaries = new List<SalariesDto>();
    private List<SiteWithServicesDto> allSites = new List<SiteWithServicesDto>();
    private List<ServiceDto> allServices = new List<ServiceDto>();
  
    private string search = "";
    private int currentPage = 1;
    private int totalPages;
    private int pageSize = 10;

    // Ici on déclare des variables de type Modal pour pouvoir les utiliser dans le code
    private SalarieInfoModal salarieInfoModal = new SalarieInfoModal();
    private SalarieAddModal salarieAddModal = new SalarieAddModal();
    private ServiceAddModal serviceAddModal = new ServiceAddModal();
    private SiteAddModal siteAddModal = new SiteAddModal();
    private ShowInfoService showInfoService = new ShowInfoService();
    private ShowInfoSite showInfoSite = new ShowInfoSite();
    private string AccessToken { get; set; } = null;



private async Task<string> GetCookieValueAsync(string cookieName)
{
    return await JSRuntime.InvokeAsync<string>("getCookie", cookieName);
}


        // A l'initialisation de la page on récupère les données de l'API
    protected override async Task OnInitializedAsync()
    {
        allSalaries = await Http.GetFromJsonAsync<List<SalariesDto>>("api/Salaries");
        allSites = await Http.GetFromJsonAsync<List<SiteWithServicesDto>>("/Site");
        allServices = await Http.GetFromJsonAsync<List<ServiceDto>>("/Service");
        AccessToken = await GetCookieValueAsync("AccessToken");
        filteredSalaries = allSalaries;
        totalPages = (int)Math.Ceiling((decimal)allSalaries.Count / pageSize);
        
    }


// permet de rafraichir les données de la page en cas de modification
private async Task RefreshData()
{
    await OnInitializedAsync();
}


        // On gère les modals ici avec la fermeture et l'ouverture 
    private void ModalClosed()
    {
        Console.WriteLine("Modal closed");
        StateHasChanged();
    }

   private void ShowEmployeeInfo(SalariesDto salaries)
    {
    salarieInfoModal.Show(salaries);
    }

    private void ShowAddEmployee()
    {
        salarieAddModal.Show();
    }

    private void ShowInfoService() {
        showInfoService.Show();
    }

    private void ShowAddService() {
        serviceAddModal.Show();
    }

    private void ShowAddSite() {
     siteAddModal.Show();
    }

    private void ShowInfoSite() {
        showInfoSite.Show();
    }

    private void ShowAllSites() {

    }


    // Gères les pages du Pager ici
    private void UpdatePageSize(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value.ToString());
        totalPages = (int)Math.Ceiling((decimal)filteredSalaries.Count / pageSize);
        currentPage = 1;
    }

    private void UpdateCurrentPage(int newPage)
    {
        currentPage = newPage;

    }

    // Ici on filtre les salariés en fonctions des inputs dans le html 
    // On a trois filtres un par site, l'autre par service et l'input de recherche permettant d'affiner la recherche

    private void FilterSalaries(ChangeEventArgs e)
    { 
        // Si la Trim méthode supprime des caractères de la instance actuelle, cette méthode ne modifie pas la valeur du instance actuel. Au lieu de cela, 
        //il retourne une nouvelle chaîne dans laquelle tous les espaces blancs de début et de fin trouvés dans le instance actuel sont supprimés.
        search = e.Value.ToString();
        var keywords = search.Split(' ', StringSplitOptions.RemoveEmptyEntries)
                             .Select(k => k.Trim().ToLowerInvariant())
                             .ToList();
            // keywords renvoie donc une list de string avec les mots clés de la recherche et on filtre ensuite les salariés en fonction de ces mots clés
          filteredSalaries = allSalaries.Where(s => keywords.All(k =>
                                                (s.Nom != null && s.Nom.ToLowerInvariant().Contains(k))
                                                || (s.Prenom != null && s.Prenom.ToLowerInvariant().Contains(k))
                                                || (s.Email != null && s.Email.ToLowerInvariant().Contains(k))
                                                || (s.TelephoneFixe != null && s.TelephoneFixe.ToLowerInvariant().Contains(k))
                                                || (s.TelephonePortable != null && s.TelephonePortable.ToLowerInvariant().Contains(k))
                                                || (s.Service != null && s.Service.ToLowerInvariant().Contains(k))
                                                || (s.Site != null && s.Site.ToLowerInvariant().Contains(k)))).ToList();
        totalPages = (int)Math.Ceiling((decimal)filteredSalaries.Count / pageSize);
        currentPage = 1;
    }


}
